<div class="banner">
    <ul>
        <li class="gray"><img src="/assets/welcome.png" alt="Welcome!"></li>
        <li class="darkgray"><img src="/assets/second.png" alt="Four by Six"></li>
        <li class="gray"><img src="/assets/three.png" alt="It's free."></li>
    </ul>
</div>




<script>
$(function() {
	$('.banner').unslider({
		speed: 1000,               //  The speed to animate each slide (in milliseconds)
		delay: 6000,              //  The delay between slide animations (in milliseconds)
    autoplay: false,
    arrows: false
	});

});
</script>


<div class="wrap">
	<div class="button">
		<%= link_to "Create Your Own!", quotes_url, class: "homepage_button" %>
	</div>

	<section class="homepage_layout">
			<h3>it's easy...</h3>
			<div class="one">
				<i class="fa fa-laptop fa-5x"></i>
				<h4>Type & Style.</h4>
			</div>
			<div class="two">
				<i class="fa fa-exclamation fa-5x"></i>
				<h4>Finalize your Masterpiece.</h4>
			</div>
			<div class="three">
				<i class="fa fa-print fa-5x"></i>
				<h4>Export to Print.</h4>
			</div>
	</section>

</div>

<div class="wrap">
	<footer>
		<ul>
			<li><a href="/" class="footer_logo">four<span class="logo_bold">by</span>six  © 2014 </a></li>
		</ul>
	</footer>
</div>
