<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>



<div class="banner">
    <ul>
        <li><%= image_tag("/assets/wood.jpg") %></li>
        <li><%= image_tag("/assets/wood.jpg") %></li>
        <li><%= image_tag("/assets/wood.jpg") %></li>
    </ul>
</div>




<script>
$(function() {
    $('.banner').unslider();

});</script>


<div class="wrap">
	<div class="button">
		<%= link_to "Try it yourself!", quotes_url, class: "homepage_button" %>
	</div>

	<section class="homepage_layout">
			<h3>it's easy...</h3>
			<div class="one">
				<h4>Type & Style.</h4>
			</div>
			<div class="two">
				<h4>Create Card.</h4>
			</div>
			<div class="three">
				<h4>Export to Print.</h4>
			</div>
	</section>

	<section>
		<h3>about us</h3>
		
	</section>
</div>

