
    <section class="layout_one">
        <div class="left_side"></div>
        <div class="middle"></div>
        <div class="right_side"></div>
    </section>

    <section class="layout_two">
        <div class="left_side"></div>
        <div class="middle"></div>
        <div class="right_side"></div>
    </section>

    <section class="layout_three">
        <div class="left_side"></div>
        <div class="middle"></div>
        <div class="right_side"></div>
    </section>

    <section class="layout_three_equal">
        <div class="left_side"></div>
        <div class="middle"></div>
        <div class="right_side"></div>
    </section>


