/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



@media print {
	body {
	font-family: 'Open Sans', sans-serif;

	}

	a {display:none;}

	nav {display:none;}


	.quote_box {
		height: 448px;
		width: 592px;
		background: #CCC;
		border-radius: 20px;

	}

	.text {
		color:white; 
		font-size: 150px; 
		padding: 10px; 
		text-align: center; 
		padding-top: 30%;
	}

	.text_over_8 {
		color: white; 
		font-size: 40px; 
		padding: 10px; 
		line-height: 45px; 
		text-align: center; 
		padding-top: 177px;
		
	}

	.arrow-down_2 {
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		margin-left: 246px;
		border-top: 22px solid #CCC; 
		margin-top: -1px;
	}


	.author {
		margin-top: 5px; 
		color: #ccc; 
		font-size:15px; 
		width: 100px; 
		text-align: center;
		margin-left: 246px;
	}

	.export_to_pdf {
		margin-top: 3%;
		color: #6b9eb4;
	}


}




