@import "library";
@import "reset";

$max_width: 960px;
$gutter_width: 15px;
$col_count: 16;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: $max_width;
    // background:#bbb;
}

// Global tags

body {
    

}


// Everything else

.wrap {
    @extend %container;
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
}

@mixin columnify($num_cols) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}

nav {
    font-size: 0;
    margin-bottom: 40px;
    margin-top: 5px;
    // background-color: rgb(237, 237, 234)


    .nav_logo {
        font-size: 40px;
        @include columnify (3);
        text-align: left;
        font-weight: 400;
        text-transform: lowercase;

        .logo_bold {
            font-weight: 300;
        }

        &:hover {
            color: black;
        }
        
    }



    .nav_offset {
        @include offset(1);
    }

    a {
        font-weight: 300;
        text-transform: lowercase;
        text-decoration: none;
        display: inline-block;
        color: black;
        background:white;
        text-transform: uppercase;
        font-size: 13px;
        @include columnify(3);
        margin-right: $gutter_width;
        text-align: right;
            &:hover {
                text-decoration: none;
                color: orange;
            }
            &:visited {
                text-decoration: none;
            }
            &:nth-of-type(5n) {
                margin-right: 0;
            }       
    }
}

footer {
    font-size: 0;
    border-top: 1px solid black;

    .nav_offset {
        @include offset(7);
    }

    .nav_logo {
        @include columnify(3);
        text-align: right;
    }

    a {
        margin-top: 8px;
        text-decoration: none;
        display: inline-block;
        background:white;
        font-size: 10px;
        @include columnify(2);
        margin-right: $gutter_width;
        text-align: left;
            &:hover {
                text-decoration: none;
                color: blue;
            }
            &:visited {
                text-decoration: none;
            }
            &:nth-of-type(4n) {
                margin-right: 0;
            }        
    }
}

// Start sign in styling

.form_layout {
      margin: 0 auto;
      background-color: #ecf0f1;
      border-radius: 2px;
      margin-top: 50px;
      padding: 20px 40px;
    

      h2 {font-size: 40px;}

      input {

      }
    }

// End sign in form style 

// Quote page styling

.create_your_own {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.layout {
    font-size: 0;

        
    div {
            &:nth-of-type(2n) {
                margin-right: 0;
                vertical-align: top;
            }
        } 

    .left_half {
        @include columnify(5);
        margin-right: $gutter_width;
        margin-bottom: 20px;
        font-size: 15px;
        display: inline-block;
        // background-color: pink;
    }

    .right_half {
        @include columnify(11);
        margin-right: $gutter_width;
        margin-bottom: 20px;
        font-size: 15px;
        display: inline-block;
        // background-color: pink;
    }
}


.input_quote {
    width: 200px;
    max-width: 200px;
    height: 100px;
    padding: 5px;
    font-size: 13px;
    border-radius: 2px;
    border: 1px gray solid;
}

.input {
    width: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    font-size: 13px;
    // border-radius: 5px;
    border: 1px gray solid;
    color: black;
}

.create_card_button {
    color: white; 
    background-color: orange;
    padding: 8px;
    outline: 0;
    border: 0;
    margin-top: 20px;

}

.option_header {
    font-style: italic; 
    font-size: 15px;
    color: orange;
    margin-bottom: 6px;
    margin-top: 15px;
}

.one {
    margin-top: 0px;
}

.template {
    display: inline-block;
}

.template_image {
    width: 75px;
    border: 1px solid lightgray;
}

 li {display: inline-block;}

    .color_orange {
        width: 50px; 
        height: 50px;    
        background-color: rgb(162, 214, 215);
        padding-right: 5px;
    }

    .color_red {
        width: 50px; 
        height: 50px;     
        background-color: rgb(162, 214, 215);
    }

    .color_seafoam {
        width: 50px; 
        height: 50px;     
        background-color: rgb(162, 214, 215);
    }

    .color_aqua {
        width: 50px; 
        height: 50px;     
        background-color: rgb(162, 214, 215);
    }

// End quote page styling


// Profile page styling

.profile_layout {
    font-size: 0;
    @include offset(2);


        .welcome_text {
            font-size: 30px;
        }

        .gallery_text {
            font-size: 30px;
            @include columnify(12);
            text-align: right;
            margin-bottom: 20px;
        }

        div {
                &:nth-of-type(4n) {
                    margin-right: 0;
                }
            } 
    

        li {
            @include columnify(3);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            font-size: 20px;
            background:white; 
            display: inline-block;
            } 
           
}

// End profile page styling

.layout_one {
    font-size: 0;

        div {
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            } 
    

        .left_side {
            @include columnify(4);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
        
        .middle {
            @include columnify(8);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }   

        .right_side {
            @include columnify(4);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
           
}

.layout_two {
    font-size: 0;

        div {
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            } 
    

        .left_side {
            @include columnify(3);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
        
        .middle {
            @include columnify(10);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }   

        .right_side {
            @include columnify(3);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
           
}

.layout_three {
    font-size: 0;

        div {
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            } 
    

        .left_side {
            @include columnify(3);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
        
        .middle {
            @include columnify(10);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }   

        .right_side {
            @include columnify(3);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
           
}

.layout_three_equal {
    font-size: 0;
    @include offset(0.5);

        div {   
                
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            } 
    

        .left_side {
            @include columnify(5);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
        
        .middle {
            @include columnify(5);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }   

        .right_side {
            @include columnify(5);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
           
}







