@import "library";
@import "reset";


$max_width: 960px;
$gutter_width: 15px;
$col_count: 16;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;
$col_width: ($max_width - $total_gutter_width) / $col_count;


// Color Variables 
$seafoam_nav: rgb(232, 245, 242);
$seafoam_dark: darken(rgb(232, 245, 242), 50%);

$blue: rgb(161,213,214);
$lightgray: rgb(236,236,233);
$darkgray: rgb(204,203,203);
$yellow: rgb(251,207,89);
$red: rgb(222,90,65);
$green: rgb(192, 225, 192);

// Colorbox Variables
$colorbox_width: 25px;
$colorbox_height: 25px; 

$lobster: 'lobster';

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: $max_width;
    // background:#bbb;
}

body {
    background-color: white;
}

.wrap {
    @extend %container;
    // padding: 20px 0;
    font-family: 'Lato', sans-serif;
}

@mixin columnify($num_cols) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}

// Everything Else

// Navigation Styling 

.top_nav_color {
    width: 100%;
    height: 50px;
    background-color: white;
}

nav {
    font-size: 0;
    margin-bottom: 40px;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 5px;

    // background-color: rgb(237, 237, 234);


    .nav_logo {
        font-size: 28px;
        @include columnify (3);
        text-align: left;
        font-weight: 400;
        text-transform: lowercase;
        letter-spacing: 3px;

        .logo_bold {
            font-weight: 300;
        }

        &:hover {
            color: darken(rgb(232, 245, 242), 40%);
            background-color: white;
        }
        
    }

    .nav_offset {
        @include offset(4);
        @include columnify(3);
    }

    a {
        font-weight: 300;
        text-transform: lowercase;
        text-decoration: none;
        display: inline-block;
        color: darken(rgb(232, 245, 242), 40%);
        margin-bottom: 8px;
        padding: 5px;
        // background:white;
        text-transform: uppercase;
        font-size: 13px;
        @include columnify(2);
        margin-right: $gutter_width;
        text-align: center;
            &:hover {
                text-decoration: none;
                background-color: darken(rgb(232, 245, 242), 40%);
                color: white;
                padding: 5px;
            }
            &:visited {
                text-decoration: none;
            }
            &:active {
                text-decoration: none;
                background-color: rgb(237, 237, 234); 
                padding: 5px;
            }
            &:nth-of-type(5n) {
                margin-right: 0;
            }       
    }
}

footer {
    font-size: 0;
    border-top: 1px solid black;

    .nav_offset {
        @include offset(7);
    }

    .nav_logo {
        @include columnify(3);
        text-align: right;
    }

    a {
        margin-top: 8px;
        text-decoration: none;
        display: inline-block;
        background:white;
        font-size: 10px;
        @include columnify(2);
        margin-right: $gutter_width;
        text-align: left;
            &:hover {
                text-decoration: none;
                color: blue;
            }
            &:visited {
                text-decoration: none;
            }
            &:nth-of-type(4n) {
                margin-right: 0;
            }        
    }
}

// End Navigation Styling

// Homepage Styling

.layout_one {
    font-size: 0;

        div {
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            } 
    

        .left_side {
            @include columnify(4);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
        
        .middle {
            @include columnify(8);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }   

        .right_side {
            @include columnify(4);
            margin-right: $gutter_width;
            margin-bottom: 20px;
            height: 200px;
            background:white;
            box-shadow: 0 0 2px fade-out(black,.4);
            display: inline-block;
            }
           
}

// End Homepage Styling

// Start sign in styling

.form {
    .form_layout {
          font-size: 15px;
          margin: 0 auto;
          border: 2px solid $darkgray;
          border-radius: 2px;
          margin-top: 80px;
          padding: 20px 40px;
          width: 350px;
          height: 325px;
          text-align: center;
        

        h2 {font-size: 40px;
            background-color: white;
            color: $darkgray;
            margin-top: -43px;
            width: 175px;
            text-align: center;
          

        }

        .sign_input {
            margin-top: 20px;

            .sign_text {
                line-height: 20px;
                padding-bottom: 15px;
                color: $seafoam_dark;
            }

            .box_input {
                width: 200px;
                height: 30px;
            }

            div{
                margin-bottom: 15px;
                font-size: 13px;
            }

            .sign_button {
                color: white; 
                background-color: $seafoam_dark;
                padding: 10px;
                padding-right: 20px;
                padding-left: 20px;
                outline: 0;
                border: 0;

                &:hover {
                    background-color: darken($seafoam_dark, 10%)
                }
            }

            .other_text {
                font-size: 13px;
                line-height: 15px;
            }
        }   
    }
}

// End sign in form style 

// Quote page styling

.create_page {
    background-color: $seafoam_nav;

}

.create_your_own {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
    color: $seafoam_dark;
}

.layout {
    font-size: 0;

   
        
    div {
            &:nth-of-type(2n) {
                margin-right: 0;
                vertical-align: top;
                 }
        } 

    .left_half {
        @include offset(1);
        @include columnify(5);
        margin-right: $gutter_width;
        margin-bottom: 20px;
        font-size: 15px;
        display: inline-block;
        margin-bottom: 60px;
        background-color: white;
        padding: 8px;
        text-align: center;

        .input_quote {
            width: 100%;
            max-width: 100%;
            height: 75px;
            padding: 5px;
            font-size: 13px;
            border-radius: 2px;
            border: 1px $seafoam_dark solid;
        }

        fieldset {
            margin-bottom: 19px;
            text-align: center;
        }

        .create_card_button {
            color: white; 
            background-color: darken($darkgray, 20%);
            padding: 8px;
            padding-right: 30px;
            padding-left: 30px;
            outline: 0;
            border: 0;
        
            &:hover {
               background-color: darken($darkgray, 50%); 
            }

        }

        .option_header {
            font-style: italic; 
            font-size: 15px;
            color: darken($darkgray, 50%);
            margin-bottom: 6px;
            margin-top: 15px;
       }

    }


    .right_half {
        margin-bottom: 60px;
        @include offset(1);
        @include columnify(7);
        margin-right: $gutter_width;
        margin-bottom: 20px;
        font-size: 15px;
        display: inline-block;
        

        .card_box {
                -webkit-transform:scale(1.2,1.2);
                margin-top: 28px;
                height: 288px;
                width: 432px;
                border: 1px solid white;
                padding: 8px 8px 8px 8px;
                word-break: normal;
                background-color: white;

            .start_creating {
                text-align: center;
                padding: 10%;
                padding-top: 25%;
                font-size: 50px;
                color: $blue;
            }
        }
    }
}

 
// End quote page styling


// Profile page styling

.profile_layout {
    font-size: 0;
    
        .welcome_text {
            font-size: 30px;
        }

        .gallery_text {
            font-size: 30px;
            @include columnify(16);
            margin-right: $gutter_width;
            text-align: right;
            margin-bottom: 20px;
        }

        .profile_columns {
            height: 168px; 
            @include columnify(4);
            background-color: $seafoam_nav;
            display: inline-block;
            overflow: hidden;
            margin-right: $gutter_width;
            margin-bottom: $gutter_width;

            &:nth-of-type(4n) {
                margin-right: 0px;
            }
        }

        .card_box_profile {
                display: inline-block;
                -webkit-transform:scale(0.5,0.5);
                border: 1px solid white;
                background-color: white;
                vertical-align: top;
                position: relative;
                left: -102px;
                top: -60px;
                height: 288px;
                padding: 8px 8px 8px 8px;
                width: 432px;
                word-break: normal;
                text-align: right;

         }          
}

// End profile page styling



// Show Page 


.page_center {
    font-size: 0;
    width: 960px;
    max-width: 960;
    margin: 0 auto;
    background-color: $seafoam_nav;
    padding-bottom: 50px;
    padding-top: 50px;
    display: inline-block;

    .show_left {
        @include offset(2);
        @include columnify(8);
        margin-right: $gutter_width;
        display: inline-block;
    }
    .show_right {
        @include offset(1);
        @include columnify(4);
        display: inline-block;
    }

    .card_box_show {
        margin-top: 20px;
        background-color: white;
        // margin-right: $gutter_width;
        height: 288px;
        width: 432px;
        border: 1px solid white;
        padding: 8px 8px 8px 8px;
        word-break: normal; 
        margin-bottom: 20px;
    }

    .export {
    font-size: 15px;



    &:hover {
     color: darken($darkgray, 50%); 
    }
    }
}
  

// .america { background: url("/assets/america.jpg") no-repeat;
//     height: 438px;
//     width: 582px;
// }

// .offset {
//     @include offset(4);
// }

// .quote {
//     background: url("/assets/quotes_blue.jpg") no-repeat;
//     height: 288px;
//     width: 432px;
//     border: 1px solid lightgray;
// }



// Angular CSS

    // Font Color

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.white {
    color: white;
}

.gray {
    color: $darkgray;
}

    // Font Size

.teeny {font-size: 10px;}

.small {
    font-size: 15px;
}

.normal {
    font-size: 25px;
    line-height: 20px;
}

.big { font-size: 40px;
line-height: 35px;}

.bigger {
    font-size: 70px;
    line-height: 60px;
}

.gigantic {
    font-size: 150px;
    line-height: 130px;
}

    // Font Choices

.sail {
    font-family: 'Sail', cursive;

}

.arial {
  font-family: Arial;

}

.georgia {
  font-family: Georgia;

}

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 300;

}

.lobster {
  font-family: 'Lobster Two', cursive;

}

        // Text Align

.left {text-align: left }

.center {text-align: center }

.right {text-align: right }

// Radio button styling

    // 

#radio_color label {
    float:left;
    width:35px;
    height: 35px;
    margin-right: 12px;
    overflow:auto;  

    &:nth-of-type(6n) {
        margin-right: 0px;
    } 
}

#radio_color label span {
    text-align:center;
    padding:13px 0px;
    display:block;
}

#radio_color label input {
    position:absolute;
    top: -100px;
}

#radio_color input:checked + span {
    border:2px solid $seafoam_dark;
    height: 35px;
    color:#F7F7F7;

}

#radio_color .yellow {
    background-color:$yellow;
    color:#333;
}

#radio_color .blue {
    background-color:$blue;
    color:#333;
}

#radio_color .black {
    background-color: black;
    color:#333;
}

#radio_color .green {
    background-color:$green;
    color:#333;
}
#radio_color .white {
    background-color: white;
    color:#333;
}
#radio_color .gray {
    background-color: $darkgray;
    color:#333;

}
#radio_color .red {
    background-color: $red;
    color:#333;
}

// Text Alignment Radio Button Styles

fieldset #radio_align {
    text-align: center;
    margin-left: 30%;
}

#radio_align label {
    float:left;
    width:30px;
    margin-right: 10px; 

}

#radio_align label span {
    text-align:center;
    padding:7px 0px;
    display:block;
}

#radio_align label input {
    position:absolute;
    top:-100px;
}

#radio_align input:checked + span {
    border:1px solid $seafoam_dark;
    height: 30px;
}

// Font Radio Button Styles

#radio_font label {
    float:left;
    width:60px;
    margin-right: 10px; 

    &:nth-of-type(4n) {
        margin-right: 0;
    }    
}

#radio_font label span {
    text-align:center;
    padding:5px 5px 5px 5px;
    display:block;
}

#radio_font label input {
    position:absolute;
    top:-100px;
}

#radio_font input:checked + span {
    background-color: $seafoam_dark;
    color:white;
}

// Font Size Radio Buttons

#radio_fontsize label {
    display: inline-block;
    margin-right: 15px; 
    margin-top: -20px;    
}

#radio_fontsize label span {
    text-align:center;
    display:block;
}

#radio_fontsize label input {
    position:absolute;
    top:-100px;
}

#radio_fontsize input:checked + span {

    color:$seafoam_dark;
}


  
